.root{
    -fx-background-image:url('../assets/bg2_opacity80.png');
    -fx-background-size:cover;
}

.backgroundMain
{
    -fx-background-image:url('../assets/bg2_narrow.png');
    -fx-background-size:cover;
}

.TextField
{
    -fx-border-color:  transparent transparent black transparent;
    -fx-background-color: transparent;
    -fx-border-width: 2;
}

.MainButtonStyle
{
    -fx-background-color:
                        #750a0e,
                        linear-gradient(#ec2127, #bc1016);
    -fx-text-fill: white;
    -fx-background-radius: 10;
}
.MainButtonStyle:hover
{
    -fx-background-color:
                    #750a0e,
                    linear-gradient(#8d0c11, #bc1016);
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.MainButtonSecondStyle
{
    -fx-background-color:
                   #750a0e,
                   linear-gradient(#ec2127, #bc1016);
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-size: 16px;
    -fx-font-family: Dubai;
    -fx-font-weight: bold;
}

.MainButtonSecondStyle:hover
{
    -fx-background-color:
                   #750a0e,
                   linear-gradient(#8d0c11, #bc1016);
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-size: 16px;
    -fx-font-family: Dubai;
    -fx-font-weight: bold;
}

.labelGrey
{
    -fx-text-fill: #929292;
}

.labelLightRed
{
    -fx-text-fill: #f15b60;
}

.labelGrey:hover
{
    -fx-text-fill: #4d4d4d;
}

.labelLightRed:hover
{
    -fx-text-fill: #d31219;
}

.imageBorder {
    -fx-background-image:url('../assets/Frames/border4.png');
    -fx-background-size:cover;
}

.imageBorder2 {
    -fx-background-image:url('../assets/bg2_h2.png');
    -fx-background-size:cover;
}

.avatarsBG{
    -fx-background-image:url('../assets/Note_wide.png');
    -fx-background-size:cover;
}

.imageHover:hover
{
    -fx-opacity: 0.8;
}

.avatarButtonApply
{
    -fx-background-color:  rgba(49,55,57,1);
    -fx-border-color: #bc1016;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-insets: 1;
    -fx-text-fill: white;
}